In [21]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [22]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [23]:
from sqlalchemy.ext.declarative import declarative_base
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['measurement', 'station']

In [24]:
Measurement = Base.classes.measurement

In [25]:
first_row = session.query(Measurement).first()

In [28]:
measure = pd.read_sql("SELECT * FROM measurement", conn)

In [29]:
measure.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0